/* General container for the clinical-experience section */
.clinical-experience-container {
  padding: 20px 20px;
  margin: 0 auto;
  text-align: center;
}

.clinical-experience-content {
padding: 30px;
border-radius: 15px;
box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
text-align: left;
}

/* Paragraph text styling */
.clinical-experience-content p {
font-size: 18px;
line-height: 1.8;
color: #333;
margin-bottom: 25px;
text-align: justify; /* Make the text aligned evenly */
}